<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    input:checked+span {
      text-decoration: line-through;
    }
  </style>
  <title>Titre</title>
</head>

<body>
  <header>
    Gâteau moelleux au chocolat dans une tasse
  </header>
  <main>
    <img src="https://images.ricardocuisine.com/services/recipes/496x670_5769.jpg" alt="image de la recette" width="150"
      height="200">
    Informations générales
    Préparation : 5 min
    Portions : 1
    Calories : 361 kcal

    Ingrédients
    45 ml (3 c. à soupe) de farine tout usage non blanchie
    30 ml (2 c. à soupe) de cassonade
    10 ml (2 c. à thé) de cacao
    1 ml (¼ c. à thé) de poudre à pâte
    45 ml (3 c. à soupe) de lait
    15 ml (1 c. à soupe) d'huile de canola
    1 goutte d'extrait de vanille
    10 pépites de chocolat mi-sucré (5 ml / 1 c. à thé)

    Outils
    Tasse à café (250ml)
    Fourchette
    Micro-ondes

    Étapes
    <ul style="list-style: none;">
      <label>
        Dans la tasse à café, mélange la farine, la cassonade, le
        cacao et la poudre à pâte. Ajoute le lait, l'huile et la vanille.
      </label>

      <label>
        Avec la fourchette, brasse délicatement jusqu'à ce que la pâte n'ait plus de grumeaux. Dépose les
        pépites de chocolat sur le dessus.
      </label>

      <label>
        Cuis le gâteau au micro-ondes 45 secondes. Laisse tiédir 5 minutes pour permettre au gâteau de
        terminer sa cuisson.
      </label>
    </ul>
  </main>
  <footer style="margin-bottom: 10px;">
    <a href="https://www.ricardocuisine.com/recettes/5769-gateau-moelleux-au-chocolat-dans-une-tasse">Source de la
      recette</a>
  </footer>
</body>

</html>