<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    input:checked+span {
      text-decoration: line-through;
    }
  </style>
  <title>Gâteau moelleux au chocolat dans une tasse</title>
</head>

<body>
  <header>
    <h1>Gâteau moelleux au chocolat dans une tasse</h1>
  </header>
  <main>
    <img src="https://images.ricardocuisine.com/services/recipes/496x670_5769.jpg" alt="image de la recette" width="150"
      height="200">
    <section id="information">
      <h3>Informations générales</h3>
      <p>Préparation : <span id="time">5 min</span> </p>
      <p>Portions : <span id="portion">1</span> </p>
      <p>Calories : <span id="calories">361 kcal</span> </p>
    </section>

    <section id="ingredients">
      <h3>Ingrédients</h3>
      <ul>
        <li>45 ml (3 c. à soupe) de farine tout usage non blanchie</li>
        <li>30 ml (2 c. à soupe) de cassonade</li>
        <li>10 ml (2 c. à thé) de cacao</li>
        <li>1 ml (¼ c. à thé) de poudre à pâte</li>
        <li>45 ml (3 c. à soupe) de lait</li>
        <li>15 ml (1 c. à soupe) d'huile de canola</li>
        <li>1 goutte d'extrait de vanille</li>
        <li>10 pépites de chocolat mi-sucré (5 ml / 1 c. à thé)</li>
      </ul>
    </section>

    <section id="tools">
      <h3>Outils</h3>
      <ol>
        <li>Tasse à café (250ml)</li>
        <li>Fourchette</li>
        <li>Micro-ondes</li>
      </ol>
    </section>

    <section id="steps">
      <h3>Étapes</h3>
      <ul style="list-style: none;">
        <li>
          <label>
            <input type="checkbox">
            <span>
              Dans la tasse à café, mélange la farine, la cassonade, le
              cacao et la poudre à pâte. Ajoute le lait, l'huile et la vanille.
            </span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>
              Avec la fourchette, brasse délicatement jusqu'à ce que la pâte n'ait plus de grumeaux. Dépose les
              pépites de chocolat sur le dessus.
            </span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>
              Cuis le gâteau au micro-ondes 45 secondes. Laisse tiédir 5 minutes pour permettre au gâteau de
              terminer sa cuisson.
            </span>
          </label>
        </li>
      </ul>
    </section>
  </main>
  <footer style="margin-bottom: 10px;">
    <a href="https://www.ricardocuisine.com/recettes/5769-gateau-moelleux-au-chocolat-dans-une-tasse">Source de la
      recette</a>
  </footer>
</body>

</html>