:root {
    --base-color: #575656;
    --text-color: #ffffff;
    --background-color: #181818;
    --border-color: #1bac08;
    --highlight-color: #a8a8a8;
    --employee-color: #ffa500;
    --intern-color: lightgreen;
    --gap-size: 1em;
}

body {
    font-size: large;
}

#main-container {
    gap: var(--gap-size);
}

#top-bar {
    border: 1px solid;
    padding: 5px;
}

#top-bar-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
}

#main-area {
    gap: var(--gap-size);
}

.employee-card {
    border: 2px solid;
    border-radius: 10px;
}

.employee-card:hover {
    /* à remplacer */
    background-color: green;
}

.employee-card:hover button {
    visibility: visible;
}

.info-button {
    visibility: hidden;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
}

.employee-info {
    margin: 5px;
}

.employee-card>img {
    width: 200px;
    height: 200px;
}

.position {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}